@model LeaveManagementSystem.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
    .container {
        position: relative;
    }

    .container img {
            display: block;
    }

    .img-over-icon{
            position: absolute;
            bottom: -5px;
            left: 100px;
    }
</style>
<div class="my-5">
    <div class="row justify-content-center align-items-center">
        <div class="card col-sm-6">
            <div class="row justify-content-end">
                <a href="/account/update/@Model.EmployeeID" class="btn btn-outline-info text-decoration-none"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Profile</a>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-sm-3 justify-content-end mt-0 container">
                        @if (Model.UserImg != null)
                        {
                            <img src="data:image/png;base64,@Model.UserImg" width="120" />
                        }
                        else
                        {
                            <img src="https://i.pinimg.com/originals/19/b8/d6/19b8d6e9b13eef23ec9c746968bb88b1.jpg" width="120" />
                        }
                    <div class="col justify-content-center mt-0">
                        <button type="button" class="btn btn-primary btn-circle img-over-icon" data-toggle="modal" data-target="#uploadImage">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/account/UpdateImage" method="post" enctype="multipart/form-data">
                                            <div class="form-group mr-3">
                                                <input type="hidden" class="form-control" name="EmployeeId" value="@Model.EmployeeID" />
                                                <label for="Image">User Image</label>
                                                @{Html.RenderPartial("UserImgUpload"); }
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group ">
                                                    <button type="submit" class="btn btn-primary align-items-center mt-4">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    </div>
                    <div class="col-sm-6  ">
                        <div class="row ml-4">
                            <h4>@Model.Name</h4>
                        </div>
                        <div class="row">
                            <ul style="list-style-type:none;">
                                <li class="mb-2"><i class="fa fa-envelope" aria-hidden="true"></i><span class="mx-2">@Model.Email</span></li>
                                <li class="mb-2"><i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i><span class="mx-2">@Model.Phone</span></li>
                                @if (Model.DOB != null)
                                {
                                    <li class="mb-2">
                                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                        <span class="mx-2">@Model.DOB.Value.ToString("MMM dd, yyyy")</span>
                                    </li>
                                }
                                @if (Model.Address != null)
                                {
                                    <li class="mb-2">
                                        <i class="fa fa-address-book" aria-hidden="true"></i>
                                        <span class="mx-2 ">@Model.Address</span>
                                    </li>
                                }
                            </ul>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
